[2015-10-08 13:32] VictorJava opened #1 "Problem with connect"
Hi
Alex.
I need to download the first 10 messages from the exchange server.
So I trying difference library, but nothing to went right.

There is my gradle:
android {
...
    packagingOptions {
        exclude 'META-INF/LICENSE.txt'
        exclude 'META-INF/NOTICE.txt'
    }
}
dependencies {
....
    compile files('libs/ews-android-api.jar')  // generated from your library
    compile 'joda-time:j

[2015-10-08 13:41] alipov commented on #1
Hmm.. interesting.
Let me check it.

[2015-10-08 14:57] alipov commented on #1
@VictorJava

Just checked your code sample in my test (lab) environment - it works flawlessly, so regarding the first issue - please verify that you have connection to the server (i.e. open exchange's URL in browser).

I'll check the NoClassDefFoundError exception later today. Thanks for the report!

[2015-10-08 17:09] VictorJava commented on #1
Thanks for your reply.

I gess, I doing something wrong.... Please, could you check it?
Could I send to you my test project? My mail victor2kgroup@gmail.com.
Could you send your mail to me(victor2kgroup@gmail.com)

I very gratefyl for your help.
Thanks!

[2015-10-09 08:57] alipov commented on #1
@VictorJava
Indeed some classes are missing. I'll have to fix that first.

[2015-10-09 09:07] VictorJava commented on #1
Ok.
How long does it take?
Can I help you something?  Maybe,... testing or something else?
Thanks.

[2015-10-09 17:31] alipov commented on #1
@VictorJava
I've just pushed commit with missing classes. Could you please pull them, run './gradlew copySources ews-android-api:build' and check if your https connection works?

[2015-10-11 20:52] tmakin opened #2 "missing class : org.apache.log4j.Priority (API Level 17)"
Hi Alex,

I've been trying to get this working on an API Level 17 emulator, but the library was throwing a missing class exception related to `log4j`

[code]

I haven't found the origin of the error, but I managed to get round it by pasting in 2 extra shim classes into the path `ews-android-api/src/main/java/org/apache/log4j`. I then recompiled with your gradlew script.

The classes I added were `

[2015-10-12 08:58] VictorJava commented on #1
Hi
Alex.

Sorry for the late reply.
I checked this and have some problem.
Please, see attaches.
![ews_bild_successful](https://cloud.githubusercontent.com/assets/8449621/10424450/f0683d9e-70d7-11e5-80f5-ce96dcc846d4.png)
After replaced jar I can not to build project.
There is reason
![ews_package_does_not_exist](https://cloud.githubusercontent.com/assets/8449621/10424448/f0651c40-70d7-11e5-89d7-d0

[2015-10-12 13:39] alipov commented on #1
@VictorJava
Your libs/ews-android-api.jar's size is 2.4MB, while its current size should be 3.4MB.
Please rebuild the project and verify that.

[2015-10-12 14:17] alipov commented on #2
Hi Tom,

Thanks for your report.

I haven't added log4j library because it's an optional dependency in commons-logging.

The expected behaviour will probably be:
- write logs to Android's log system by default
- anyone desired to use log4j will have to add that dependency explicitly

How that sounds to you?

[2015-10-12 14:23] tmakin commented on #2
That's fine with me, I have no preference on which logging system is used, I'm just trying to get it to run. Is there anything I should be doing to disable log4j?

Out of interest do you see this same behavior on API 17?

[2015-10-12 14:36] alipov commented on #2
It's configured somewhere, I'll look into it.

I've tested on both KitKat and Lollipop, saw the dalvikm warnings but never crashed.
Can you post the crash stack trace?

[2015-10-12 14:43] VictorJava commented on #1
Yes, good spot!
There is my mistake...I so apologize...., sorry.
But I trying with new jar file.
I get something like this(http and https):
![ews_report_4](https://cloud.githubusercontent.com/assets/8449621/10430521/522d1e8e-7108-11e5-9248-6dfffa0e75a1.png)
But in the same time I already logged from default mail client.
May I give your mail to send test account?

Thanks!

[2015-10-12 14:50] alipov commented on #1
Sent you email.
Are you sure that you're not working behind a web proxy?

[2015-10-12 15:56] tmakin commented on #2
Here is the stack trace when EWS fails:

[code]

[2015-10-12 16:06] tmakin commented on #2
The log4j errors disappear if I stick this at the top of my MainActivity:

[code]

I've also tried adding it to gradle.properties in my app but that didn't work. I'll try adding it your grade.properties file and see what that does.

[2015-10-12 16:27] tmakin commented on #2
putting the property in gradle.properties didn't work for me. Do you think it could be slotted into build.gradle somewhere?

[2015-10-12 16:48] alipov commented on #2
Try to put it into a commons-logging.properties configuration file, for example as shown [here](https://cyntech.wordpress.com/2009/01/09/how-to-use-commons-logging/).

[2015-10-12 16:55] tmakin commented on #2
Yeah, I found that. But I have no idea how to make the compiler pay attention to it. That's why I went with gradle.properties.

[2015-10-12 16:59] alipov commented on #2
Check out this (from [here](https://commons.apache.org/proper/commons-logging/apidocs/org/apache/commons/logging/package-summary.html)):

Use the JDK 1.3 JAR Services Discovery mechanism (see http://java.sun.com/j2se/1.3/docs/guide/jar/jar.html  for more information) to look for a resource named META-INF/services/org.apache.commons.logging.LogFactory whose first line is assumed to contain the desi

[2015-10-12 17:40] tmakin commented on #2
I can't find any references to `log4j` in ews-java-api. The only place it shows up is the pom.xml for commons-logging inside repackaged-dependencies.jar

[2015-10-12 19:39] alipov commented on #2
OK, I'm finally at home and was able to look into this issue.

I was able to workaround it by creating alternative LogFactory implementation that always returns SimpleLog instance (I just copied all the rest functionality from LogFactoryImpl.java).

Then I unzipped the apk, and created a `org.apache.commons.logging.LogFactory` file under `META-INF/services` folder. It contains a single line which

[2015-10-12 20:39] tmakin commented on #2
Nice work. Thanks for checking it out.

[2015-10-16 09:41] alipov opened #3 "ClassNotFoundException while calling ExchangeService#autodiscoverUrl"
The following exception thrown while calling `ExchangeService#autodiscoverUrl`:

<pre>
E/AndroidRuntime:  Caused by: java.lang.ClassNotFoundException: Didn't find class "java.applet.Applet" on path: DexPathList[[zip file "/data/app/info.osom.ews-2/base.apk"],nativeLibraryDirectories=[/vendor/lib, /system/lib]]
E/AndroidRuntime:     at dalvik.system.BaseDexClassLoader.findClass(BaseDexClassLoader.j

[2015-10-17 13:42] tmakin commented on #3
Just tried autodiscovery using an office 365 account and I get the same error. Test was done using API 23 Nexus emulator.

In general, this error looks quite nasty. Do you think it will necessary to somehow patch the EWS dns client with something like http://www.dnsjava.org/? Or is there some magic that can be done with `java.applet`?

[2015-12-09 22:17] danxfisher opened #4 "ServiceRequestException: The request failed. null"
Related: https://github.com/OfficeDev/ews-java-api/issues/301

I'm getting the same errors.  Is there working code to get Calendar appointments that you've come across or tested?

[2015-12-11 18:21] tuckercr commented on #3
I have a very similar issue with auto resolution, although mine threw NoClassDefFoundError instead of @alipov's ClassNotFoundException

[code]

[2015-12-11 21:37] alipov commented on #4
The referenced issue seems to be fixed.
Can you post a sample code and exception stack trace?

Thanks!

[2015-12-14 14:09] tuckercr commented on #3
I have a working solution for this, although I'm not sure how to integrate it into your build process since it involves modifying the code in ews-java-api

I modified DnsClient.java, removing the getEnv() method and replacing dnsQuery(..) with code that uses http:///www.dnsjava.com instead.  For this I simply copied the source code of dnsjava into the ews-java-api source folder.

One limitation is

[2016-04-06 10:14] aqibmapari opened #5 "FactoryConfigurationError :"
Code compiles well but when I try calling the mail send() method I get the below error.
I am using Eclipse IDE.

[2016-04-06 10:57] alipov commented on #5
Strange.
Try to set the following properties in your Application#onCreate method:

[code]

Let me know if you're receiving the same error.

[2016-04-06 12:35] aqibmapari commented on #5
Thanks a lot. It just seems to have gone past that point now. was scratching my head whole day long behind this.

Now getting a new error as below. I suppose this is problem with connection to the host or URL that I have specified. will check that.

Can you please let me know if I am on the right path.

Thanks again.

[2016-04-06 14:50] alipov commented on #5
Are you able to dump the TCP traffic (easy if you have rooted device, otherwise use some kind of proxy) to better understand what's happening?

[2016-04-07 04:50] aqibmapari commented on #5
Thanks a lot I have got it working.
Thanks a lot for your valuable inputs.
Now trying to figure out a way to get html format working properly.
Currently message is going as plain text.

[2016-04-07 06:01] aqibmapari opened #6 "Email with CSS styling"
I tried sending email body as an Html but doesnt quite seem to work.

I have tried the following
`message.setBody(new MessageBody(BodyType.HTML, _body));`

But still in outlook I can see the format is Plain text.
Even in gmail styles seem to be removed.
Almost all the html tags and inline css, tables etc. seems to be removed.
Can you please share some info on how to get this working.

[2016-04-07 07:09] alipov commented on #6
This repo is just an Android wrapper around [ews-java-api](https://github.com/OfficeDev/ews-java-api) library.
Try to send this email using ews-java-api (from a PC). If you find problems there, open an issue on theirs repo. Otherwise, let me know if it works as you've expected with ews-java-api, but ews-android-api produces different results.

[2016-04-07 08:41] #6 closed, assigned to nobody

[2016-04-08 12:25] DevilGeek opened #7 "Build failed"
what i've done :
- clone repo
- git submodule init
  -> Submodule 'ews-java-api' (https://github.com/OfficeDev/ews-java-api.git) registered for path 'ews-java-api'
- git submodule update
  -> Cloning into 'ews-java-api'...
- gradlew copySources ews-android-api:build

end at the end i get :

:ews-android-api:compileJava FAILED

FAILURE: Build failed with an exception.
- What went wrong:
  Execution

[2016-04-08 12:36] DevilGeek commented on #7
My mistake, i didn't properly set java_home on this computer..

[2016-04-08 12:36] #7 closed, assigned to nobody

[2016-04-08 14:32] wwahmed opened #8 "com.bea.xml.stream.XMLOutputFactoryBase not found"
Hello @alipov :

Thank you for putting this library wrapper and making it available. I noticed a problem in one of the operations, which I suspect isn't covered by the class name substitutions that are in the build script. I thought of reporting it to you and get your advice on (or allow you to update the library) with appropriate substitutions for this to work.

**Scneario**: Calling getEvents on

[2016-04-08 15:19] alipov commented on #8
Yeah, I have to look on this issue.
Can you in the meantime use the workaround that I've mentioned in #5 ?

[2016-04-08 19:18] wwahmed commented on #8
@alipov Thanks Alex. That did fix the issue. I wouldn't even call it a workaround. Seems a legitimate fix.

[2016-04-08 19:42] alipov commented on #8
@wwahmed
Awesome, thanks for the update :)
I call it workaround since the library should handle it by itself (probably using JAR Services Discovery mechanism).

[2016-04-08 19:58] wwahmed commented on #8
@alipov By the way, before coming across your repository, I had already accomplished this with an uglier approach. I used maven, and maven shade plugin, along with OpenJDK implementation for the necessary javax.* classes. Yours seems like a much cleaner approach. If you are open to it, I'd like to know more about how you came across this problem and what you did with it. My email is on my profile

[2016-04-08 21:40] wwahmed commented on #8
@alipov I found another error -- for now adding it to this issue here, but let me know if I should create a separate issue for this

`Caused by: java.lang.Error: javax.xml.datatype.DatatypeConfigurationException: Provider org.apache.xerces.jaxp.datatype.DatatypeFactoryImpl not found
	at android.javax.xml.bind.DatatypeConverterImpl.<clinit>(DatatypeConverterImpl.java:907)
	at android.javax.xml.bind

[2016-04-09 03:50] wwahmed commented on #8
@alipov And found one more error, on android L emulator (Nexus 5x emulator). This one tries to lookup the Applet class, which is definitely unnecessary...

'Caused by: java.lang.NoClassDefFoundError: Failed resolution of: Ljava/applet/Applet;
                                                                        at com.sun.naming.internal.ResourceManager.getInitialEnvironment(ResourceManager.java

[2016-04-09 04:03] wwahmed commented on #2
Can add that I am also experiencing this issue. @tmakin Which method did you find to be the best, modification using System.properties?

[2016-04-09 04:05] wwahmed commented on #3
Can add that I am also experiencing this issue on some Android levels .. Hopefully we can find a solution for it too.

[2016-04-09 04:07] wwahmed opened #9 "When fetching Appointment (recurring): org.apache.xerces.jaxp.datatype.DatatypeFactoryImpl not found"
@alipov I found another error --

This one is on the ews call appointment.bindToRecurringMaster(..)

`javax.xml.datatype.DatatypeConfigurationException: Provider org.apache.xerces.jaxp.datatype.DatatypeFactoryImpl not found`

..

`Caused by: javax.xml.datatype.DatatypeConfigurationException: Provider org.apache.xerces.jaxp.datatype.DatatypeFactoryImpl not found`

..

`Caused by: java.lang.ClassNot

[2016-04-13 11:05] alipov commented on #9
@wwahmed Thanks for reporting, I'll take a look on this issue.

[2016-05-02 22:04] joaquinicolas opened #10 "ServiceRequestException: The request failed. null"
ExchangeService service = new ExchangeService(ExchangeVersion.Exchange2010_SP2);
                ExchangeCredentials credentials = new WebCredentials("asdasd", "asddeasd);
                service.setCredentials(credentials);
                try {
                    service.setUrl(new URI("https://isaaa.xxxxx.com"));
                    service.setTraceEnabled(true);
                    Log.v("NCR

[2016-05-03 05:38] alipov commented on #10
Hi @joaquinicolas

Could you please post the full stack trace?

[2016-05-03 13:17] joaquinicolas commented on #10
05-03 09:15:47.750 5806-5806/com.example.jn185090.webforms2 E/NCR: The request failed. null
                                                                   microsoft.exchange.webservices.data.core.exception.service.remote.ServiceRequestException: The request failed. null
                                                                       at microsoft.exchange.webservices.data.core.request.Si

[2016-05-03 15:43] alipov commented on #10
You're trying to initiate a network call from main thread. You can't do that.

[2016-05-05 07:09] #10 closed, assigned to nobody

[2016-05-05 11:18] Lugo239 opened #11 "microsoft.exchange.webservices.data.core.exception.service.remote.ServiceRequestException: The request failed. null"
Hi there!

Iam able to send an Email via this api, but when i try to get my calendar appointments iam getting this error:

`microsoft.exchange.webservices.data.core.exception.service.remote.ServiceRequestException: The request failed. null`

This is my code, it happens directly in the calendarFolder line:

`CalendarFolder calendarFolder = CalendarFolder.bind(ewsService, WellKnownFolderName.Calenda

[2016-05-05 11:28] alipov commented on #11
Could you please post full stack trace?

[2016-05-05 11:37] Lugo239 commented on #11
Mybad sorry!
`05-05 13:29:01.546 24158-24158/com.test.ews.app W/System.err: microsoft.exchange.webservices.data.core.exception.service.remote.ServiceRequestException: The request failed. null
 05-05 13:29:01.546 24158-24158/com.test.ews.app W/System.err:     at microsoft.exchange.webservices.data.core.request.SimpleServiceRequestBase.internalExecute(SimpleServiceRequestBase.java:74)
 05-05 13:29:0

[2016-05-05 11:46] alipov commented on #11
This is not the full stack trace (inner exception should be printed as well).

[2016-05-05 11:52] Lugo239 commented on #11
`05-05 13:47:14.746 5957-5957/com.test.ews.app W/System.err: Caused by: android.os.NetworkOnMainThreadException
 05-05 13:47:14.746 5957-5957/com.test.ews.app W/System.err:     at android.os.StrictMode$AndroidBlockGuardPolicy.onNetwork(StrictMode.java:1147)
 05-05 13:47:14.746 5957-5957/com.test.ews.app W/System.err:     at java.net.InetAddress.lookupHostByName(InetAddress.java:418)
 05-05 13:47:1

[2016-05-05 11:54] alipov commented on #11
You're trying to initiate a network call from main thread. You can't do that.

[2016-05-05 11:58] Lugo239 commented on #11
I am wondering because i just started a new thread the same way i run the email-method.

`Thread thread = new Thread(new Runnable()
{
    @Override
    public void run()
    {
        try
        {

        } catch (Exception e)
        {
            e.printStackTrace();
        }
    }
});
thread.start();`

[2016-05-05 12:09] alipov commented on #11
Try to debug it.
You're clearly invoking the API on main thread (5957 is the main one - as seen in your logs).

[2016-05-05 12:24] Lugo239 commented on #11
Okay, thanks for the help man!

[2016-05-05 13:23] #11 closed, assigned to nobody

[2016-05-06 11:53] Lugo239 opened #12 "Shared calendar access"
Greetings again!

Do you know how to get access to shared calendars(e.g. meeting rooms)?
I am able to list the appointments of the user i used in the credentials.
In Outlook there is the possibility to  "Open Calendar" and chose “RoomList”. I already listed all rooms and know the email address of the one iam interessted in.

Kind regards and thanks for the help!
Lugo

[2016-05-06 14:07] Lugo239 commented on #12
Read this "https://msdn.microsoft.com/de-de/library/office/dn643673%28v=exchg.150%29.aspx"

[2016-05-06 14:07] #12 closed, assigned to nobody

[2016-05-07 16:32] nomanuddin commented on #1
**Hi, I am facing issues in compiling "ews-android-api.jar", initial I was not copying the ews-java-api content so my Jar file was only 2.3MB, But now when I add the project ews-java-api content, I am facing following error.

You can see the hierarchy as well for files I have. Thanks in advance :)**
====================================================================
 Directory of C:\Users\Culha\D

[2016-05-07 17:05] alipov commented on #1
@nomanuddin
Please open a separate issue and delete your (unrelated) message from this thread.

[2016-05-08 11:05] nomanuddin opened #13 "Build Ews-android-api Error:"
When I tried to build the ews-android-api, I faced following error:

I added ews-java-api to the its folder after downloading it from [https://github.com/OfficeDev/ews-java-api](url).

Now When I excute the gradlew command I faced following error, I think I am missing some basic step, I have spent hours on this, I hope you will help

C:\Users\Culha\Desktop\EWS\ews-android-api-master>gradlew copySo

[2016-05-12 11:28] Lugo239 commented on #4
Hey guys!
Does it work now? I have the same problem.

With the StricMode-Call i am able to get the calendar events:
`StrictMode.ThreadPolicy policy = new StrictMode.ThreadPolicy.Builder().permitAll().build();`
`StrictMode.setThreadPolicy(policy);`
`new Thread(new Runnable() [...]`

But it leads into this:
`I/Choreographer: Skipped 162 frames!  The application may be doing too much work on its main

[2016-05-19 11:18] saiajaym opened #14 "Error while building ews-android-api"
I tried building the api, but i always end up with same error, please look it into this issue and help me out.
gradlew copySources ews-android-api:build

:copySources UP-TO-DATE
:ews-android-api:repackageTask UP-TO-DATE
:ews-android-api:compileJava
warning: [options] bootstrap class path not set in conjunction with -source 1.7
C:\Users\sai.m\Desktop\ews-android-api-master\ews-android-api\src\main\

[2016-05-24 07:26] aqibmapari commented on #5
HI @alipov this workaround does not work on all devices.

One of my user is experiencing this issue with samsung galaxy tab s2 running Android OS 5.0.2.
It is working for other users.
Please help me out if I can do anything to work this around.

[2016-05-30 09:18] aqibmapari commented on #5
Getting the below error on this particular device I mentioned tab S2

`05-30 11:20:37.041: E/AndroidRuntime(14201): FATAL EXCEPTION: pool-1-thread-1
05-30 11:20:37.041: E/AndroidRuntime(14201): Process: com.intellect.bsalesapp, PID: 14201
05-30 11:20:37.041: E/AndroidRuntime(14201): android.javax.xml.stream.FactoryConfigurationError: Provider com.sun.xml.stream.ZephyrWriterFactory not found
05-30

[2016-05-30 14:51] alipov commented on #5
Interesting. My bet is that the class is being rejected by runtime verifier.
Could you please run again and look for verifier errors/warnings?

[2016-05-30 15:02] alipov commented on #14
Thanks for reporting this.
There were changes in ews-java-api since my last update. I'll do my best to update the repo this week.

[2016-05-30 15:17] alipov commented on #13
Thanks for reporting this.
There were changes in ews-java-api since my last update. I'll do my best to update the repo this week.

[2016-05-30 15:18] alipov commented on #14
Duplicate. You can track it at #13

[2016-05-30 15:18] #14 closed, assigned to nobody

[2016-05-30 15:22] alipov commented on #4
@Lugo239 Can you post full stack trace for `microsoft.exchange.webservices.data.exception.ServiceRequestException: The request failed. null` ?

[2016-05-31 04:21] aqibmapari commented on #5
Actually I donot have the device with me its users client I got access to it yesterday with great difficulties.
Ill check if I can get access to it.
But If it is the case of rejection of class by runtime verifier then what is the work around for it.
Please suggest.

[2016-05-31 13:27] alipov commented on #5
Hard to say what the fix will be without seeing the logs.
Unfortunately I don't have such device to test on.

[2016-05-31 13:33] aqibmapari commented on #5
I'm just getting the log I mentioned in my comment yesterday.
I checked today as well and nothing other than that.
Could it be something related to ART/DALVIK runtime.
Just a guess.

[2016-05-31 13:43] alipov commented on #5
Do you have access to this device?
I mean, can you debug the app to find inner exception?

[2016-06-02 05:34] aqibmapari commented on #5
I tried but couldn't get anything more than this.
This is the only exception I'm getting.
I'm afraid I have to move to some other method now.

[2016-06-09 11:54] thejaswi28 opened #15 "Caused by: android.javax.xml.stream.FactoryConfigurationError: Provider com.bea.xml.stream.XMLOutputFactoryBase not found"
Following to the issue below,

https://github.com/alipov/ews-android-api/issues/5

I am getting below exception when I test in Samsung Galaxy S5. Could not find a solution for this yet, can you please help me to solve this?

java.lang.RuntimeException: An error occured while executing doInBackground()
                at android.os.AsyncTask$3.done(AsyncTask.java:300) ~[na:0.0]
                at j

[2016-06-14 04:01] thejaswi28 commented on #15
Any answer for this?

[2016-06-14 09:09] saiajaym commented on #15
thejaswi, were u able to build it?

[2016-06-14 11:56] thejaswi28 commented on #15
I was not having any issue while building the project.. This happens when I try to do any EWS related operations like fetching attachments, new mails etc.

[2016-06-14 19:55] alipov commented on #15
@thejaswi28
Thanks for reporting this issue.
I have a couple of questions to better understand it:
1. Does it happen on one specific device, or on all devices that you've tested (on which devices it worked / didn't worked)?
2. Do you use ProGuard?
3. Do you use multi-dex?
4. Can you decompile your app and verify that com.bea.xml.stream.XMLOutputFactoryBase class exists?

[2016-06-15 03:26] freeloopmko687 commented on #2
Can  anyone give me an  answer????????

[2016-06-15 04:11] thejaswi28 commented on #15
@alipov

Thanks for the response.
1. Yes it happens on Samsung Galaxy S5 device. App doesn't crash when tested on Samsung Note 2, 3, 4 and 5.
2. No, I don't use Proguard.
3. Yes, I am using multi-dex
4. I haven't checked this, I will check and update soon.

Update 4:

No, this class is not there. So I added stax.jar into the library which contains XMLOutputFactoryBase  class. .

[2016-06-15 05:20] alipov commented on #2
@freeloopmko687
On which question?

[2016-06-15 05:23] alipov commented on #15
@thejaswi28
Which Android version is installed on your S5 device?

[2016-06-15 05:27] thejaswi28 commented on #15
@alipov

Android version is 5.0.in Galaxy S5.

[2016-06-16 04:09] thejaswi28 commented on #15
@alipov

Any updates on this issue?

[2016-06-16 15:52] alipov commented on #15
I don't have a Galaxy S5 device..
I'll check it as soon as I'll find one. In the meantime you can try to debug it by yourself and inform me on your findings.

[2016-06-17 08:22] Sharathnasa commented on #1
Hello @alipov

Even after newly building the jar, still the jar size is 2.4mb. And i'm getting the same exception as @VictorJava posted in the screen shot. please help me in this regard.
Regards,
Sharath

[2016-06-18 12:12] alipov commented on #1
@Sharathnasa
You're probably skipped the 'git submodule init' & 'git submodule update' step.

[2016-06-19 03:54] developer-gomalon commented on #1
@alipov  Yes, i didn't do that.. Let me try and come back to you. Thanks a lot man!!!

[2016-06-19 09:59] Sharathnasa commented on #1
@alipov
I'm getting the below mentioned exception after the appointment.save(). Could you please let me know where is it going wrong.

<img width="972" alt="screen shot 2016-06-19 at 3 17 04 pm" src="https://cloud.githubusercontent.com/assets/7545011/16176692/a5640bd6-3632-11e6-95d7-34220592bc8c.png">

Regards,
Sharath

[2016-06-19 10:26] alipov commented on #1
@Sharathnasa
Please open a separate issue for this error (including full stack trace). Also, it will help if you'll post a sample code that you're trying to invoke (remember to exclude any sensitive info).

[2016-06-19 10:35] developer-gomalon commented on #3
@tuckercr
Could you help in adding your to the to the ews-java-api locally and rebuild the .jar. I tried to change the the code but it is giving error because i don't have proper imports.

Ex:import org.xbill.DNS.Lookup;
import org.xbill.DNS.Record;
import org.xbill.DNS.SRVRecord;
import org.xbill.DNS.Type;

For these i tired to add the library dnsjava-2.1.1.jar and was not able to provide the pat

[2016-06-19 11:39] alipov commented on #3
@developer-gomalon
As @tuckercr wrote, he added [dnsjava](http://mvnrepository.com/artifact/dnsjava/dnsjava/2.1.6) dependency. I'll test this workaround, and then will add a fix.

[2016-06-19 13:42] Sharathnasa commented on #1
@alipov
Sure i will open up new issue for this. Thanks.

I was going through the issue stack, i found that, the issue which i'm facing is similar to #3

So i think, its required to open new issue, since that issue is still in open status.

Regards,
Sharath

[2016-06-19 14:13] developer-gomalon commented on #3
@alipov
Yes, after adding the dependency to the gradle file, they is no option to sync right in the ews-android-api.
Or Am I doing it in a wrong way!!!
I just added the gradle dependency and changed the code in the DnsClient.java. Since i didn't had the lib ie. there is no option to sync it was throwing the error

And one more question, does this lib works for exchange version 2013 and above?

[2016-06-21 16:32] alipov commented on #3
As @tmakin and @tuckercr suggested (thanks guys!), I've replaced the javax.naming classes with dnsjava library.

@developer-gomalon
Yes, it supports Exchange 2013.
Please test it. The fix is on separate branch, so do:
`git checkout dns-query-fix`
Also, add dnsjava as dependency to your app:
`compile 'dnsjava:dnsjava:2.1.6'`
Let me know if you have any issues with this, and if it works - I'll merge

[2016-06-22 11:01] thejaswi28 commented on #15
@alipov
Adding to the issue above and mentioned in other if I add those 3 lines in the other issue you mentioned, I am getting below error

android.javax.xml.stream.FactoryConfigurationError: Provider com.sun.xml.stream.ZephyrWriterFactory not found

[2016-06-22 11:18] thejaswi28 commented on #5
@alipov

I am also getting the same error by adding these 3 lines.

android.javax.xml.stream.FactoryConfigurationError: Provider com.sun.xml.stream.ZephyrWriterFactory not found

[2016-08-18 14:06] Satarus commented on #3
@alipov
I tested your dns-query-fix and it worked for the missing java.applet dependency but afterwards I got #1 back missing class `Landroid/javax/naming/ldap/LdapName;` so I figured that I should leave javax naming in and adjusted your branch. [You can see the change here](https://github.com/Satarus/ews-android-api/commit/413b193a1fa96f6153c241f9c90029e0782d0497). This worked for me in conjuncti

[2016-08-26 15:46] kabhimanyu commented on #4
here is the stacktrace alipov
 microsoft.exchange.webservices.data.core.exception.service.remote.ServiceRequestException: The request failed. null
08-26 21:15:15.587 15999-15999/com.ctrlswitch.org.meetingdrawerlayoutfinal W/System.err:     at microsoft.exchange.webservices.data.core.request.SimpleServiceRequestBase.internalExecute(SimpleServiceRequestBase.java:74)
08-26 21:15:15.587 15999-15999/co

[2016-08-28 20:29] alipov commented on #4
Thanks @kabhimanyu
Could you please post full exception stack trace (including internal exception's stack trace)?

[2016-11-07 17:30] rehand commented on #3
@Satarus
should your modified branch "dns-query-fix" work like it is checked in? I tried building it, but I get the following errors:
`ews-android-api/src/main/java/android/org/apache/harmony/jndi/internal/parser/LdapNameParser.java:24: error: cannot find symbol
import android.javax.naming.InvalidNameException;
                           ^
  symbol:   class InvalidNameException
  location: package

[2016-11-09 12:36] Satarus commented on #3
@rehand
I cannot build it either, looks like jcenter removed the javax dependency so we have to find it somewhere else.

[2016-11-25 12:38] Surbhidhingra opened #16 "Authenticate and fetch EWS data using OAuth token"
Hi @alipov

I am trying to build an android app using **EWS-java-api** to fetch EWS data with an oAuth2 token for office365 users using[ active directory authentication lib](https://github.com/AzureAD/azure-activedirectory-library-for-android) for android. similar to what is shown in this article for[ .net](https://msdn.microsoft.com/en-us/library/office/dn903761(v=exchg.150).aspx)

Below is the c

[2017-02-20 03:43] yinghannr opened #17 "I have a problem and need help"
Hi @alipov

I packed it out to 2.4M, can you give me a bag of 3.2M you pack? Thank you
![jar](https://cloud.githubusercontent.com/assets/21034655/23111160/acee8f3e-f761-11e6-8075-abe307de79fc.jpg)

[2017-02-20 03:44] yinghannr commented on #17
My mailbox: yinghannr@163.com

[2017-02-20 09:15] alipov commented on #17
@yinghannr just add both of the jars as dependencies in your Android project.

[2017-02-20 10:15] yinghannr commented on #17
@alipov
I introduced the 2.4M jar, and can not connect to ExchangeService, I feel I use
./gradlew copySources ews-android-api:build hit bag problem

![default](https://cloud.githubusercontent.com/assets/21034655/23120756/9a1be82a-f798-11e6-911c-142e53a4dff3.jpg)

[2017-02-21 11:22] alipov commented on #17
Which error do you receive when you're trying to connect?

[2017-03-06 17:10] #17 closed, assigned to nobody

[2017-03-13 06:07] Thewizeguy commented on #13
Any idea if this was ever addressed? I seem to be getting the same error and know >< much about how to fix it. I'd love to help but you don't want me in there.

[2017-03-13 16:56] nherbar commented on #3
@alipov
Does anyone be able to fix this issue and use properly service.autodiscoverUrl()?
Because I have the same problem and don´t know how to solve it :(

I´ve followed the steps than you mention in the comments above so I´m in the same point of:
 java.lang.NoClassDefFoundError: android.javax.naming.ldap.LdapName

Thanks a lot!!

[2017-03-28 03:40] kitta08 opened #19 "When TimeZone is set Time is still being changed"
both Time and timezone value are set while creating the calendar event. But the Timezone is also being sent in the EWS request. but the time is being modified to a different value than set.

[2017-03-29 07:47] alipov commented on #19
Hi @kitta08,

Could you please post a sample code that illustrates this issue?

[2017-04-17 08:26] alipov commented on #16
I believe you should ask it in [ews-java](https://github.com/OfficeDev/ews-java-api/) issues.

[2017-04-17 09:00] #13 closed, assigned to nobody

[2017-04-17 09:33] alipov commented on #3
I've re-added the jndi dependency, please let me know if this works for you and I'll merge it to master.

[2017-05-19 10:12] DevilGeek opened #21 "Proguard ?"
Does someone managed to get it working with proguard enable ?

[2017-06-01 15:36] alipov commented on #21
What exactly doesn't work for you?
Please explain what you did and in case of error - describe what went wrong.

[2017-06-01 15:56] tuckercr commented on #21
It's been a long time since I added EWS to my project, but I do have these lines in my proguard rules:
[code]

[2017-06-08 09:42] ericktrez opened #22 "getUserAvailability() returns 401 Unauthorized"
I am using the EWS Android/Java API getUserAvailability() method to get users' available time.

[code]

user2@outlook's calendar is shared to user1@outlook.

The response for user1@outlook (own account) is successful, and the busy times are retrieved.

`<FreeBusyResponse><ResponseMessage ResponseClass="Success"><ResponseCode>NoError</ResponseCode></ResponseMessage> ....`

However, the request for

[2017-06-09 08:54] alipov commented on #22
This project is only a wrapper around [ews-java-api](https://github.com/OfficeDev/ews-java-api).
You should probably ask these type of questions in ews-java-api issues (or in Stackoverflow, by tagging ewsjavaapi).

[2017-06-09 08:54] #22 closed, assigned to nobody

[2017-06-27 12:45] DevilGeek commented on #21
when i build my app in release with
`minifyEnabled true`

the app crash
`Caused by: java.lang.ClassNotFoundException: Didn't find class "android.org.apache.commons.logging.impl.LogFactoryImpl"`

[2017-10-11 09:17] khansaad commented on #10
I'm getting the same error, what to do for that? @alipov

[2017-10-13 15:47] alipov commented on #10
@khansaad
If you're having the same **android.os.NetworkOnMainThreadException** exception, then look [here](https://developer.android.com/reference/android/os/NetworkOnMainThreadException.html). Otherwise, open a separate issue.

[2017-10-24 15:36] dabarnard commented on #5
@alipov , @thejaswi28 .

I have started experiencing the exact same issue:

after adding:

[code]

suggested by @alipov

Have either of you made any progress regarding this issue? One of our users with a Samsung Galaxy Tab 4 running Android 5.0 is experiencing this exact issue.

Any guidance would be greatly appreciated.

[2017-11-23 07:44] kjfdebruin commented on #5
Any update about this @alipov?

[2017-11-28 13:48] daychopan opened #23 "Include fat jar"
I've added the fat jar in the libs folder and added the necessary lines in the gradle file, but still can't import the classes in the jar

[2017-12-02 17:01] alipov commented on #5
@dabarnard @kjfdebruin

It would greatly help if you'll provide instructions (or better yet, github repository with a sample app) for reproducing this error.
I don't possess Samsung Galaxy Tab 4, so I can't reproduce on this device.

If you've already solved this issue, please report back how.

[2017-12-02 17:03] alipov commented on #23
Can you create a sample project on GitHub?

[2017-12-06 07:24] dieter-mdp commented on #5
@alipov , I have been trying to recreate the bug and will update here if I manage it. Struggling to obtain a Galaxy Tab 4, but hoping to duplicate the bug on other older Samsung devices. So far we only know (for sure) that it happens on the Samsung Galaxy Tab 4 and the Samsung S4.

[2017-12-06 07:26] dabarnard commented on #5
@alipov  , I have been trying to recreate the bug and will update here if I manage it. Struggling to obtain a Galaxy Tab 4, but hoping to duplicate the bug on other older Samsung devices. So far we only know (for sure) that it happens on the Samsung Galaxy Tab 4 and the Samsung S4.

[2017-12-15 08:06] dabarnard commented on #5
@alipov,

I managed to get a device where the crash can be recreated.

Interestingly, it doesn't occur on the Samsung S3 or Samsung S4 Mini, but does on the Samsung S4 (running Android 5.0).

It occurs when I fetch events from an Exchange Calendar:

[code]

Here is the Stack Trace once again:

[code]

After comparing the program execution with a device where no error occurs, it seems like it occur

[2017-12-17 18:02] alipov commented on #5
@dabarnard
Thanks for the detailed description. I'll look into this in a few days.

[2017-12-19 12:53] alipov commented on #5
@dabarnard
So I've looked at the stack trace from your last message, and it seems that class loader for some reason rejects the **com.sun.xml.stream.ZephyrWriterFactory** class.
I've tried to test this issue using the following code:
[code]

I've tested this code on the below Samsung devices:
- Samsung S5 (SM-G900F) with Android 6.0.1 (API 23)
- Samsung Note 4 (SM-N910F) with Android 6.0.1 (API 23

[2017-12-20 09:51] dabarnard commented on #5
@alipov ,

I just ran your code segment and the following stack trace shows the error:

[code]
I appreciate the help and your effort. I will continue this side to figure out what is going wrong. Like you said it must be something very specific to the configuration on some devices.

[2017-12-26 16:56] alipov commented on #5
@dabarnard

I was able to find a Samsung S4 device (GT-I9505) with Android 5.0.1 - I believe the exact same model (with the same OS) as you're using.

I've compiled a sample application that contains a code snippet from my last message. Unfortunately, the error doesn't reproduce on it.

Can you test my sample application on your device (you can install the [apk](https://github.com/alipov/ews-andro

[2018-01-05 14:47] dabarnard commented on #5
@alipov,

I ran your app on the device and it runs without issue.

This means that it must be a bug very specific to the app I am using your library in and have now figured out the cause:

What I did was to start removing other libraries/code to see if the problem was caused somewhere else and only crashed in your library.  This seems to be the case.

When I removed [this](https://github.com/sephi

[2018-01-08 06:59] alipov commented on #5
@dabarnard
I was able to reproduce the crash (thanks for PR!). I will investigate it and report back my findings shortly.

[2018-01-26 12:45] alipov commented on #5
I've fixed the issue with a workaround.

`ews-java-api` implicitly invokes various XML factories. `jsr173` library (which hosts the XML factories) retrieves ClassLoader by calling `Thread.getCurrentThread().getContextClassLoader()`. Some Samsung devices (including the ones that mentioned in this thread) may mistakenly override it:

Sample code where this error reproduces can be found [here](https:

[2018-01-26 12:46] #5 closed, assigned to nobody

[2018-01-26 12:49] alipov commented on #15
Fixed in #5.

[2018-01-26 12:50] #15 closed, assigned to nobody

[2018-01-26 12:50] #23 closed, assigned to nobody

[2018-01-26 12:51] #19 closed, assigned to nobody

[2018-01-26 12:52] alipov commented on #8
Fixed in #5.

[2018-01-26 12:52] #8 closed, assigned to nobody

[2018-01-26 13:58] #3 closed, assigned to alipov

[2018-01-26 14:00] alipov commented on #1
The DNS/Applet issues fixed in #3.

[2018-01-26 14:00] #1 closed, assigned to nobody

[2018-01-26 14:04] #16 closed, assigned to nobody

[2018-01-26 14:18] #4 closed, assigned to nobody

[2018-05-17 08:28] mhay1997 opened #24 "Error while building"
Hi.
when i try to build the project i give this error:
`
![image](https://user-images.githubusercontent.com/32324729/40165712-f0fa6b8e-59d1-11e8-8da3-c7e586c036e6.png)

`

Can you give the .jar file please?
I don't have enough time.

[2018-05-18 08:39] alipov commented on #24
You've most probably missed ews-java-api submodule initialization:
[code]

[2018-05-18 08:39] #24 closed, assigned to nobody

[2018-07-12 09:56] CamiYe opened #25 "when sending email, how can I callback the response to handle the case, like timeout or request failed."
I set timeout time, but I don't know when the request is timeout. Because I need to handle something that time.

[2018-07-16 19:53] alipov commented on #25
Please note that this project is simply a wrapper around [ews-java-api](https://github.com/OfficeDev/ews-java-api). Therefore, it is better to post questions regarding the APIs at [StackOverflow](https://stackoverflow.com/questions/tagged/ewsjavaapi) or on ews-java-api's issues page.

[2018-07-16 19:53] #25 closed, assigned to nobody

[2019-09-03 09:59] WenqiangTu opened #26 "Error when use auto discover url"
When i use code in start guide,set url by auto discover,it shows error
[code]

[2019-09-03 20:28] alipov commented on #26
@WenqiangTu Your stack trace suggests that you haven't run the [build steps](https://github.com/alipov/ews-android-api#building) properly.

How do I know that?

DnsClient#dnsQuery calls InitialDirContext constructor at line 79, which only happens in ews-java-api's original DnsClient class. This class is being [excluded](https://github.com/alipov/ews-android-api/blob/master/build.gradle#L20) and re

[2019-09-03 20:28] #26 closed, assigned to nobody

[2019-09-05 13:07] KushtrimPacaj opened #27 "Failed resolution of: Lorg/xbill/DNS/Lookup"
I'm getting a missing class, as in the exception below.

Adding dnsjava as direct dependency seems to work:
`implementation 'dnsjava:dnsjava:2.1.9'`

Maybe this should be added to the README?

P.S. Thanks for this library. Started doing this myself before I found your project. Saved me a ton of time.

[2019-09-05 14:27] #27 closed, assigned to nobody

[2019-09-05 14:29] alipov commented on #27
Hey @KushtrimPacaj,

Great catch, thanks for reporting! (I've used version 2.1.6, since this is what I've tested with in the past).

Glad to hear that! :)

[2020-04-23 08:40] arunsankar8 commented on #5
Hi @alipov I have been using ews-android-api.jar for implementing the microsoft ews.
EWS was working fine without an exceptions.

I had to add the below lines of code to solve the Javax.net.ssl.SSLHandshakeException: javax.net.ssl.SSLProtocolException in the android application.

 try {
            ProviderInstaller.installIfNeeded(getApplicationContext());
            SSLContext sslContext;

[2020-04-24 16:04] alipov commented on #5
@arunsankar8
Thanks for reporting that.
It seems that you're using outdated code: `EwsServiceXmlWriter`'s constructor (EwsServiceXmlWriter.java:101) is invoking `XMLOutputFactory.newInstance` (XMLOutputFactory.java:98), instead of `FixedXMLOutputFactory.newInstance`.

If you still think there's a problem worth looking at, please open a separate issue.

[2020-04-29 19:03] arunsankar8 opened #28 "SSL Handshake Error and Factory Configuration Error"
I have been using ews-android-api.jar for implementing the microsoft ews.
EWS was working fine without an exceptions.

I had to add the below lines of code to solve the Javax.net.ssl.SSLHandshakeException: javax.net.ssl.SSLProtocolException in the android application.

try {
ProviderInstaller.installIfNeeded(getApplicationContext());
SSLContext sslContext;
sslContext = SSLContext.getInstance("TLSv

[2020-04-29 20:17] arunsankar8 commented on #5
Thanks @alipov

[2020-04-30 05:33] alipov commented on #28
@arunsankar8 As I've already wrote [here](https://github.com/alipov/ews-android-api/issues/5#issuecomment-619101695):

You should build fresh version of ews-android-api library and integrate it within your app.

[2020-04-30 07:10] arunsankar8 commented on #28
Hi @alipov,
 I will use the latest code and check. Thanks for your valuable time.

[2020-04-30 07:16] arunsankar8 commented on #28
Hi @alipov
Can you please help me with the steps to create the latest android-api.jar file from your repository.

[2020-04-30 08:08] alipov commented on #28
@arunsankar8 you can find the instructions [here](https://github.com/alipov/ews-android-api/#building).

[2020-05-03 17:21] arunsankar8 commented on #28
Hi @alipov ,
sorry for the late message, I did tried the instructions and when I tried to build the jar file by executing the gradlew command  "gradlew copySources ews-android-api:build --stacktrace"
 I faced following error,

FAILURE: Build failed with an exception.

* What went wrong:
Could not determine java version from '13.0.2'.

* Try:
Run with --info or --debug option to get more log output

[2020-05-03 17:21] #28 closed, assigned to nobody

[2020-05-03 17:22] arunsankar8 commented on #28
@alipov Please help me with this issue.

[2020-05-03 18:03] arunsankar8 commented on #28
Hi @alipov

Thanks for your guidance, everything works fine.

[2020-06-15 12:08] arunsankar8 opened #29 "How to use modern authentication instead of basic authentication in ews-android-api"
Hi @alipov

This is not a issue, just asking some tips and support from you. I have been using the ews-android-api in my application to get the events etc.. According to the docs, the basic authentication will be deprecated on the coming October 2020. I believe the basic authentication have been using, So how can I use modern authentication instead of basic authentication in my application to cont

[2020-06-15 12:22] alipov commented on #29
Hi @arunsankar8,

Since the question relates to the core functionality (rather than to Android adjustments), I'd suggest you to direct it to [ews-java ](https://github.com/OfficeDev/ews-java-api) maintainers.

[2020-06-15 12:48] arunsankar8 commented on #29
Thanks @alipov.

[2020-07-06 08:09] arunsankar8 commented on #29
Hi @alipov,
I have raised the same question in the ews-java repo, but there aren't any responses till now from their side. Is there any way to implement modern authentication in the application you know of, the steps described in [Microsoft documentation](https://docs.microsoft.com/en-us/exchange/client-developer/exchange-web-services/how-to-authenticate-an-ews-application-by-using-oauth) to imple

[2020-07-06 18:01] alipov commented on #29
Hi @arunsankar8,

I don't have any immediate plans implementing modern authentication support.

I guess you can look into [microsoft-authentication-library-for-android](https://github.com/AzureAD/microsoft-authentication-library-for-android) or [AppAuth-Android](https://github.com/openid/AppAuth-Android) and see if it can be used to easily add such support. Also, it seems that some attempts to add

[2020-07-07 16:29] arunsankar8 commented on #29
Hi @alipov

Thanks for the support, I will try to use these resources. Thanks

[2020-07-07 16:29] #29 closed, assigned to nobody

[2020-07-07 19:24] arunsankar8 commented on #29
Hi @alipov the MSAL library from the above documentation is used for authentication in Microsoft Graph API, can we use that for the EWS authentication also?

https://docs.microsoft.com/en-us/exchange/client-developer/exchange-web-services/how-to-authenticate-an-ews-application-by-using-oauth  This was the Microsoft documentation on implementing the modern auth, can we use this in our Android appli

[2020-07-08 11:39] alipov commented on #29
Perhaps. I don't have any prior experience with this library.

[2022-09-28 17:58] Domi04151309 commented on #21
Add
[code]
to your proguard rules

[2022-09-29 11:58] dabarnard commented on #21
@Domi04151309 , the timing of your comment is impeccable as I myself was attempting to minify and shrink my app which uses this (great) library.

I can confirm that your suggestion solves the error mentioned by @DevilGeek

Unfortunately, after this, there still seems to be an error introduced by the minify/shrink step:

`Caused by: android.org.apache.commons.logging.LogConfigurationException: java

[2022-09-29 18:42] Domi04151309 commented on #21
@dabarnard, I am encountering the same issue as you. Unfortunately, I have not been able to fix it yet. May I ask if the library works without minification for you? It does not work for me.

[2022-09-30 08:20] dabarnard commented on #21
@Domi04151309 , I am in the same position as you. The library crashes on my end with minification enabled. I will continue to debug and let you know if I find a resolution - no luck so far unfortunately

[2022-10-04 10:51] alipov commented on #21
@dabarnard @Domi04151309

The following rules work for me:
[code]

Please note that I don't have an active EWS endpoint to test against, so I couldn't test the whole flow.
Also, don't forget to remove the `-keep class android.org.apache.** { *; }` rule.

[2022-10-04 13:47] dabarnard commented on #21
Hi @alipov, thanks so much for this. It did indeed solve the issue.

One note though, I needed to add the following additional line as well:

`-keep class android.org.apache.commons.logging.LogFactory { *; }`

Thanks again for your help in keeping this library active and working .

[2022-10-08 14:15] #21 closed, assigned to nobody